<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="bc8d9f">  <td>21/01/14 02:45:45</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.getResult(org.testng.ITestResult)[pri:0, instance:br.com.testeyaman.api.Trello@6497b078]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@199449817</td>   <td></td> </tr>
<tr bgcolor="bc8d9f">  <td>21/01/14 02:45:43</td>   <td>-1413</td> <td title="&gt;&gt;BaseTest.setUp()[pri:0, instance:br.com.testeyaman.api.Trello@6497b078]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@199449817</td>   <td></td> </tr>
<tr bgcolor="bc8d9f">  <td>21/01/14 02:45:45</td>   <td>41</td> <td title="&lt;&lt;BaseTest.tearDown()[pri:0, instance:br.com.testeyaman.api.Trello@6497b078]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@199449817</td>   <td></td> </tr>
<tr bgcolor="68717f">  <td>21/01/14 02:45:44</td>   <td>-1309</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Trello.test()[pri:0, instance:br.com.testeyaman.api.Trello@6497b078]">test</td> 
  <td>main@199449817</td>   <td></td> </tr>
</table>
